<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.ShopPicMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.ShopPic">
    <id column="pictureID" jdbcType="INTEGER" property="pictureid" />
    <result column="shopID" jdbcType="INTEGER" property="shopid" />
    <result column="pictureAddress" jdbcType="VARCHAR" property="pictureaddress" />
  </resultMap>
  <sql id="Base_Column_List">
    pictureID, shopID, pictureAddress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shoppic
    where pictureID = #{pictureid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shoppic
    where pictureID = #{pictureid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.ShopPic" >
    insert into shoppic (pictureID, shopID, pictureAddress
      )
    values (#{pictureid,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, #{pictureaddress,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertAll" parameterType="java.util.List" useGeneratedKeys="true">
  	insert into shoppic (shopID,pictureAddress)
  	 values
  <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.shopid},#{item.pictureAddress})  
    </foreach>  
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.hhd.pojo.ShopPic">
    insert into shoppic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pictureid != null">
        pictureID,
      </if>
      <if test="shopid != null">
        shopID,
      </if>
      <if test="pictureaddress != null">
        pictureAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pictureid != null">
        #{pictureid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="pictureaddress != null">
        #{pictureaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.ShopPic">
    update shoppic
    <set>
      <if test="shopid != null">
        shopID = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="pictureaddress != null">
        pictureAddress = #{pictureaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where pictureID = #{pictureid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.ShopPic">
    update shoppic
    set shopID = #{shopid,jdbcType=INTEGER},
      pictureAddress = #{pictureaddress,jdbcType=VARCHAR}
    where pictureID = #{pictureid,jdbcType=INTEGER}
  </update>
</mapper>