<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.BillInfoMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.BillInfo">
    <id column="billID" jdbcType="INTEGER" property="billid" />
    <result column="commodityID" jdbcType="INTEGER" property="commodityid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="billState" jdbcType="INTEGER" property="billstate" />
    <result column="billTime" jdbcType="TIMESTAMP" property="billtime" />
  </resultMap>
  <sql id="Base_Column_List">
    billID, commodityID, num, billState, billTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from billinfo
    where billID = #{billid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from billinfo
    where billID = #{billid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.BillInfo">
    insert into billinfo (billID, commodityID, num, 
      billState, billTime)
    values (#{billid,jdbcType=INTEGER}, #{commodityid,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{billstate,jdbcType=INTEGER}, #{billtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hhd.pojo.BillInfo">
    insert into billinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billid != null">
        billID,
      </if>
      <if test="commodityid != null">
        commodityID,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="billstate != null">
        billState,
      </if>
      <if test="billtime != null">
        billTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null">
        #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="billstate != null">
        #{billstate,jdbcType=INTEGER},
      </if>
      <if test="billtime != null">
        #{billtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.BillInfo">
    update billinfo
    <set>
      <if test="commodityid != null">
        commodityID = #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="billstate != null">
        billState = #{billstate,jdbcType=INTEGER},
      </if>
      <if test="billtime != null">
        billTime = #{billtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where billID = #{billid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.BillInfo">
    update billinfo
    set commodityID = #{commodityid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      billState = #{billstate,jdbcType=INTEGER},
      billTime = #{billtime,jdbcType=TIMESTAMP}
    where billID = #{billid,jdbcType=INTEGER}
  </update>
</mapper>