<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.CommodityInfoMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.CommodityInfo">
    <id column="commodityID" jdbcType="INTEGER" property="commodityid" />
    <result column="shopID" jdbcType="INTEGER" property="shopid" />
    <result column="serviceType" jdbcType="INTEGER" property="servicetype" />
    <result column="serviceDescribe" jdbcType="VARCHAR" property="servicedescribe" />
    <result column="servicePrice" jdbcType="DOUBLE" property="serviceprice" />
  </resultMap>
  <sql id="Base_Column_List">
    commodityID, shopID, serviceType, serviceDescribe, servicePrice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodityinfo
    where commodityID = #{commodityid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodityinfo
    where commodityID = #{commodityid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.CommodityInfo">
    insert into commodityinfo (commodityID, shopID, serviceType, 
      serviceDescribe, servicePrice)
    values (#{commodityid,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, #{servicetype,jdbcType=INTEGER}, 
      #{servicedescribe,jdbcType=VARCHAR}, #{serviceprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hhd.pojo.CommodityInfo">
    insert into commodityinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityid != null">
        commodityID,
      </if>
      <if test="shopid != null">
        shopID,
      </if>
      <if test="servicetype != null">
        serviceType,
      </if>
      <if test="servicedescribe != null">
        serviceDescribe,
      </if>
      <if test="serviceprice != null">
        servicePrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityid != null">
        #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="servicetype != null">
        #{servicetype,jdbcType=INTEGER},
      </if>
      <if test="servicedescribe != null">
        #{servicedescribe,jdbcType=VARCHAR},
      </if>
      <if test="serviceprice != null">
        #{serviceprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.CommodityInfo">
    update commodityinfo
    <set>
      <if test="shopid != null">
        shopID = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="servicetype != null">
        serviceType = #{servicetype,jdbcType=INTEGER},
      </if>
      <if test="servicedescribe != null">
        serviceDescribe = #{servicedescribe,jdbcType=VARCHAR},
      </if>
      <if test="serviceprice != null">
        servicePrice = #{serviceprice,jdbcType=DOUBLE},
      </if>
    </set>
    where commodityID = #{commodityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.CommodityInfo">
    update commodityinfo
    set shopID = #{shopid,jdbcType=INTEGER},
      serviceType = #{servicetype,jdbcType=INTEGER},
      serviceDescribe = #{servicedescribe,jdbcType=VARCHAR},
      servicePrice = #{serviceprice,jdbcType=DOUBLE}
    where commodityID = #{commodityid,jdbcType=INTEGER}
  </update>
</mapper>