<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.CommentInfoMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.CommentInfo">
    <id column="commentID" jdbcType="INTEGER" property="commentid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
    <result column="checkComment" jdbcType="BIT" property="checkcomment" />
    <result column="executor" jdbcType="VARCHAR" property="executor" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="donetime" jdbcType="TIMESTAMP" property="donetime" />
  </resultMap>
  <sql id="Base_Column_List">
    commentID, userID, title, content, reply, checkComment, executor, uptime, donetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commentinfo
    where commentID = #{commentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commentinfo
    where commentID = #{commentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.CommentInfo">
    insert into commentinfo (commentID, userID, title, 
      content, reply, checkComment, 
      executor, uptime, donetime
      )
    values (#{commentid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{reply,jdbcType=VARCHAR}, #{checkcomment,jdbcType=BIT}, 
      #{executor,jdbcType=VARCHAR}, #{uptime,jdbcType=TIMESTAMP}, #{donetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhd.pojo.CommentInfo">
    insert into commentinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        commentID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="checkcomment != null">
        checkComment,
      </if>
      <if test="executor != null">
        executor,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="donetime != null">
        donetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="checkcomment != null">
        #{checkcomment,jdbcType=BIT},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="donetime != null">
        #{donetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.CommentInfo">
    update commentinfo
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="reply != null">
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="checkcomment != null">
        checkComment = #{checkcomment,jdbcType=BIT},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="donetime != null">
        donetime = #{donetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commentID = #{commentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.CommentInfo">
    update commentinfo
    set userID = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      reply = #{reply,jdbcType=VARCHAR},
      checkComment = #{checkcomment,jdbcType=BIT},
      executor = #{executor,jdbcType=VARCHAR},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      donetime = #{donetime,jdbcType=TIMESTAMP}
    where commentID = #{commentid,jdbcType=INTEGER}
  </update>
</mapper>