<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.QuestionInfoMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.QuestionInfo">
    <id column="questionID" jdbcType="INTEGER" property="questionid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="questionContent" jdbcType="VARCHAR" property="questioncontent" />
    <result column="questionState" jdbcType="BIT" property="questionstate" />
    <result column="questionTime" jdbcType="TIMESTAMP" property="questiontime" />
    <result column="hitCount" jdbcType="DOUBLE" property="hitcount" />
    <result column="questionType" jdbcType="INTEGER" property="questiontype" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    questionID, userID, title, questionContent, questionState, questionTime, hitCount, 
    questionType, grade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questioninfo
    where questionID = #{questionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questioninfo
    where questionID = #{questionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.QuestionInfo">
    insert into questioninfo (questionID, userID, title, 
      questionContent, questionState, questionTime, 
      hitCount, questionType, grade
      )
    values (#{questionid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{questioncontent,jdbcType=VARCHAR}, #{questionstate,jdbcType=BIT}, #{questiontime,jdbcType=TIMESTAMP}, 
      #{hitcount,jdbcType=DOUBLE}, #{questiontype,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhd.pojo.QuestionInfo">
    insert into questioninfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        questionID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="questioncontent != null">
        questionContent,
      </if>
      <if test="questionstate != null">
        questionState,
      </if>
      <if test="questiontime != null">
        questionTime,
      </if>
      <if test="hitcount != null">
        hitCount,
      </if>
      <if test="questiontype != null">
        questionType,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="questioncontent != null">
        #{questioncontent,jdbcType=VARCHAR},
      </if>
      <if test="questionstate != null">
        #{questionstate,jdbcType=BIT},
      </if>
      <if test="questiontime != null">
        #{questiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="hitcount != null">
        #{hitcount,jdbcType=DOUBLE},
      </if>
      <if test="questiontype != null">
        #{questiontype,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.QuestionInfo">
    update questioninfo
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="questioncontent != null">
        questionContent = #{questioncontent,jdbcType=VARCHAR},
      </if>
      <if test="questionstate != null">
        questionState = #{questionstate,jdbcType=BIT},
      </if>
      <if test="questiontime != null">
        questionTime = #{questiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="hitcount != null">
        hitCount = #{hitcount,jdbcType=DOUBLE},
      </if>
      <if test="questiontype != null">
        questionType = #{questiontype,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
    </set>
    where questionID = #{questionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.QuestionInfo">
    update questioninfo
    set userID = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      questionContent = #{questioncontent,jdbcType=VARCHAR},
      questionState = #{questionstate,jdbcType=BIT},
      questionTime = #{questiontime,jdbcType=TIMESTAMP},
      hitCount = #{hitcount,jdbcType=DOUBLE},
      questionType = #{questiontype,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER}
    where questionID = #{questionid,jdbcType=INTEGER}
  </update>
</mapper>