<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.dao.ServiceInfoMapper">
  <resultMap id="BaseResultMap" type="com.hhd.pojo.ServiceInfo">
    <id column="startID" jdbcType="INTEGER" property="startid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="startState" jdbcType="INTEGER" property="startstate" />
  </resultMap>
  <sql id="Base_Column_List">
    startID, userID, address, startTime, content, startState
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from serviceinfo
    where startID = #{startid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from serviceinfo
    where startID = #{startid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhd.pojo.ServiceInfo">
    insert into serviceinfo (startID, userID, address, 
      startTime, content, startState
      )
    values (#{startid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{startstate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhd.pojo.ServiceInfo">
    insert into serviceinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="startid != null">
        startID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="startstate != null">
        startState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="startid != null">
        #{startid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startstate != null">
        #{startstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhd.pojo.ServiceInfo">
    update serviceinfo
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startstate != null">
        startState = #{startstate,jdbcType=INTEGER},
      </if>
    </set>
    where startID = #{startid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhd.pojo.ServiceInfo">
    update serviceinfo
    set userID = #{userid,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      startState = #{startstate,jdbcType=INTEGER}
    where startID = #{startid,jdbcType=INTEGER}
  </update>
</mapper>